# LiveKit Configuration
LIVEKIT_API_KEY=APIcA62hn2JKGHg
LIVEKIT_API_SECRET=dbtqsLSMNVWM5yXjqkZRRSoFvNHRLbDtg5k5BOMV6PH
LIVEKIT_URL=ws://localhost:7880

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Development Settings
NODE_ENV=development
LOG_LEVEL=debug

# Future integrations
VICIDIAL_API_URL=
VICIDIAL_API_KEY=
